<h4>Post details</h4>
<br />
<%= @row['content'] %>
<br />
Added at <%= @row['created_date'] %>
<hr />
<h4>Comments:</h4>
<br />
<% @comments.each do |comment| %>
    <p> 
        <%= comment['content'] %>
        <br />
        <span style ="font-size:75%; color:#999"> Added at <%= comment['created_date'] %></span>
        <br />
    </p>
    <hr />

<%end%>

<p>
    <form action="/details/<%= @row['id'] %>" method="POST">

    <button type="submit" class="btn btn-primary">Add comment</button>
    <br><br />
    <textarea name="content" class="form-control" rows="6" placeholder="type comment text here"></textarea>
    </form>
</p>